---
import LGsus from "@public/download.webp";
---

<div
  class="mt-10 xl:mt-0 rounded-full flex items-center justify-center size-auto overflow-hidden shadow-md shadow-purple-300/[0.4]"
>
  <img
    src={LGsus.src}
    alt="LGsus"
    class="size-20 xl:size-32 rounded-full object-cover object-top transition-all duration-500 ease-in-out hover:scale-110"
    transition:name="img-LGsus"
  />
</div>
