---
import ImageDev from "@/components/Main/Components/Presentation/Image-Dev.astro";
---

<div
  class="flex flex-col lg:flex-row justify-center items-center gap-7 p-2"
>
  <ImageDev />
  <div class="flex flex-col gap-2 justify-center items-start">
    <h1
      class="text-gray-400/[0.8] text-2xl lg:text-4xl font-bold flex flex-row gap-2 xl:gap-4"
    >
      Hey, soy (LGsus)
      <a
        href="https://www.linkedin.com/in/lgsus-tm-16b592338"
        target="_blank"
        rel="noopener"
        class="flex justify-center items-center"
      >
        <slot />
      </a>
    </h1>
    <h1
      class="text-white text-5xl lg:text-7xl font-bold flex flex-row gap-4 tracking-tighter font-press"
    >
      Jesus Medina
    </h1>
  </div>
</div>
<h2 class="text-lg xl:text-2xl text-wrap my-5">
  <span class="text-purple-300">+1 Años de Experiencia. </span>
  <span class="text-green-400">Desarrollador Web. </span>
  <span class="text-yellow-100">De Trujillo, Perú. </span>
  <span class="text-purple-300">
    Con ansias de aprender y seguir mejorando.
  </span>
  <span class="text-yellow-100">e</span>
  <span class="text-green-400">
    Interesado en el Desarrollo Frontend y Backend.
  </span>
</h2>
