---
const PROJECTS = [
    {
        title: "",
        description: "",
        link: "#",
        github: "#",
        image: "",
        tags: ["HTML", "CSS", "JS"]
    }
]
---

<h1>Hola mundo</h1>
