---
import LGsus from "@public/lgsus.webp";
---

<a
  href="#top"
  class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
>
  <img src={LGsus.src} class="h-12" alt="LGsus Logo" />
  <span
    class="self-center text-4xl font-semibold whitespace-nowrap dark:text-white"
  >
    LGsus
  </span>
</a>
