---
import Presentation from "@/components/Main/Components/Presentation.astro";
import Experience from "@/components/Main/Components/Experience.astro";
import Projects from "./Components/Projects.astro";
---

<main id="mainSection" class="w-full xl:w-[1120px]">
  <Presentation />
  <Experience />
  <Projects />
</main>
