---
import Presentation from "@/components/Main/Components/Presentation.astro";
import Experience from "@/components/Main/Components/Experience.astro";
import Projects from "@/components/Main/Components/Projects.astro";
import AboutMe from "@/components/Main/Components/About-Me.astro";
---

<main id="mainSection" class="w-10/12 xl:w-[1120px]">
  <Presentation />
  <Experience />
  <Projects />
  <AboutMe />
</main>
