---
import AboutMe from "@/components/Main/Components/About-Me.astro";
import Experience from "@/components/Main/Components/Experience.astro";
import Presentation from "@/components/Main/Components/Presentation.astro";
import Projects from "@/components/Main/Components/Projects.astro";
import Tecnologgie from "@/components/Main/Components/Tecnologgie.astro";
import ContacMe from "@/components/Main/Components/Contac-Me.astro";
---

<main id="mainSection" class="w-10/12 xl:w-[1120px]">
  <Presentation />
  <Experience />
  <ContacMe />
  <Projects />
  <AboutMe />
  <Tecnologgie />
</main>
