---
import ExperienceItem from "@/components/Main/Components/Experience/Experience-Item.astro";
import type {
  ExperienceProps,
  GroupedExperience,
  ExperienceGroupedProps,
} from "@/type-script/type";

const {
  title,
  color,
  experiences,
  class: customClass,
  grouped = false,
} = Astro.props as ExperienceGroupedProps;

const colorClass: Record<"green" | "purple" | "yellow", string> = {
  green: "text-green-400",
  purple: "text-purple-400",
  yellow: "text-yellow-400",
};

const colors = colorClass[color as keyof typeof colorClass] || "text-gray-700";
---

<div class:list={["flex flex-col gap-4", customClass]}>
  <h1 class:list={["text-xl xl:text-2xl font-medium opacity-60", colors]}>
    {title}
  </h1>
  {
    grouped ? (
      (experiences as GroupedExperience[]).map(({ badge, items }) => (
        <div class="mb-6">
          <h2 class="text-lg font-semibold mb-2">{badge}</h2>
          <ol class="relative border-s border-gray-200 dark:border-gray-700">
            {items.map((exp: ExperienceProps) => (
              <ExperienceItem {...exp} color={color} />
            ))}
          </ol>
        </div>
      ))
    ) : (
      <ol class="relative border-s border-gray-200 dark:border-gray-700">
        {(experiences as ExperienceProps[]).map((item) => (
          <ExperienceItem {...item} color={color} />
        ))}
      </ol>
    )
  }
</div>
