---
import ExperienceItem from "@/components/Main/Components/Experience/Experience-Item.astro";

import type { ExperienceTypeProps } from "@/type/type";

const { title, color, experiences, class: customClass } = Astro.props;

const colorClass: Record<"green" | "purple" | "yellow", string> = {
  green: "text-green-400",
  purple: "text-purple-400",
  yellow: "text-yellow-400",
};

const colors = colorClass[color as keyof typeof colorClass] || "text-gray-700";
---

<div class={`flex flex-col gap-4 ${customClass ?? ""}`}>
  <h1 class={`text-xl xl:text-2xl ${colors} font-medium opacity-60`}>
    {title}
  </h1>
  <ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
      experiences.map((item: ExperienceTypeProps) => (
        <ExperienceItem {...item} color={color} />
      ))
    }
  </ol>
</div>
