---
import LGsusLogo from "@/components/Header/Components/Logo.astro";

import ContenerHidden from "@/components/Header/Components/ContenerListHidden.astro";
import HamburguerMenu from "@/components/Header/Components/Hamburguer-Menu.astro";
import Hovered from "@/components/utils/Hovered.astro";
import ListNav from "@/components/utils/List-Nav.astro";

const data = [
  {
    label: "Inicio",
    href: "#top",
  },
  {
    label: "Experiencia",
    href: "#experiencia",
  },
  {
    label: "Proyectos",
    href: "#proyectos",
  },
  {
    label: "Contactame",
    href: "#contactame",
  },
  {
    label: "Sobre Mí",
    href: "#sobre-mi",
  },
  {
    label: "Ver CV",
    href: "/CV",
  },
];
---

<div
  class="w-11/12 h-auto 2xl:w-[1420px] flex flex-row justify-between items-center rounded-lg xl:rounded-2xl transition-all duration-300 ease-in-out"
>
  <LGsusLogo />
  <nav class="hidden lg:block mt-0 md:ml-10">
    <ListNav items={data} variant="default" />
  </nav>
  <nav class="mt-0 md:ml-10 block lg:hidden">
    <HamburguerMenu items={data} />
  </nav>
  <Hovered items="#LGsus-Portfolio nav li" container="#LGsus-Portfolio" />
</div>
<div class="relative top-14 -left-[110px] md:-left-[90px]">
  <ContenerHidden items={data} />
</div>
