---
import LGsusLogo from "@/components/Header/Components/Logo.astro";
import ListNav from "@/components/utils/List-Nav.astro";
import Hovered from "@/components/utils/Hovered.astro";

const data = [
  {
    label: "Inicio",
    href: "#top",
  },
  {
    label: "Experiencia",
    href: "#experiencia",
  },
  {
    label: "Sobre Mí",
    href: "#sobre-mi",
  },
  {
    label: "Proyectos",
    href: "#proyectos",
  },
  {
    label: "Contactame",
    href: "#contactame",
  },
];
---

<header
  id="LGsus-Portfolio"
  class="w-11/12 h-auto 2xl:w-[1420px] border border-white bg-green-500/[0.1] flex flex-row justify-between items-center fixed top-5 backdrop-blur-sm z-50 rounded-lg p-4 xl:rounded-2xl transition-all duration-300 ease-in-out"
>
  <LGsusLogo />
  <nav class="mt-0 md:ml-10">
    <ListNav items={data} variant="default" />
  </nav>
  <Hovered items="#LGsus-Portfolio nav li" container="#LGsus-Portfolio" />
</header>
