---
import SectionScheme from "@/utils/Section-Scheme.astro";
import Encabezado from "@/utils/Encabezado.astro";
import FormContent from "@/components/Main/Components/Contac/Form-Content.astro";
import ContacIcon from "@/icons/contacIcon.astro";
import CodeWeb from "@/assets/code-web.webp";
---

<SectionScheme id="contactame" className="gap-10 mb-40">
  <Encabezado title="Contacto">
    <ContacIcon class="size-7 xl:size-9" />
  </Encabezado>
  <article
    class="w-full h-[500px] md:size-[500px] relative overflow-hidden rounded-xl border border-white shadow-lg shadow-purple-300/[.2]"
  >
    <div class="w-full h-full flex justify-center items-center">
      <img
        src={CodeWeb.src}
        alt="bg code"
        class="size-full object-cover object-center"
      />
    </div>
    <FormContent />
  </article>
</SectionScheme>
