---
import { getCollection } from "astro:content";

import Encabezado from "@/utils/Encabezado.astro";
import ExperienceType from "@/components/Main/Components/Experience/Experience-Type.astro";
import SectionScheme from "@/utils/Section-Scheme.astro";

import ExperienceIcon from "@/icons/experience.astro";

const experiences = await getCollection("experiences");

const atteClient = experiences.filter(
  ({ data }: any) => data.type === "AtteClient"
);
const technical = experiences.filter(
  ({ data }: any) => data.type === "Technical"
);

const EXPERIENCES2 = [
  {
    title: "Como desarrollador:",
    color: "green",
    items: [
      {
        title: "Tesla",
        date: "Actualmente...",
        description:
          "Clon de pagina antigua de Tesla con Astro, Tailwind y JS. Proyecto con fines educativos, para la practica y mejora del framework utilzado.",
        download: "https://github.com/LGsus113/Tesla-Page-Astro.git",
        badge: "latest Astro",
      },
      {
        title: "DAWI: Spring Boot",
        date: "Diciembre 22, 2024",
        description:
          "Proyecto de presentacion final para curso, 5to ciclo. Sistema de Ventas en spring boot con templates de prueba.",
        download: "https://github.com/LGsus113/ProyectoDawi.git",
        badge: "latest Java",
      },
      {
        title: "D-CoDX",
        date: "Diciembre 1, 2024",
        description:
          "Proyecto de presentacion final para curso, 5to ciclo. Continuación de pagina D-CoDX, en esta versión se usa ReactJS.",
        download: "https://github.com/LGsus113/D-CoDX-.-React-Vite.git",
        badge: "latest React",
      },
      {
        title: "D-CoDX",
        date: "Noviembre 28, 2024",
        description:
          "Proyecto de presentacion final para curso, 4to ciclo. Pagina creada como proyecto integrador para diseñadores y programadores.",
        download: "https://github.com/LGsus113/D-CoDX.git",
        badge: "latest HTML",
      },
      {
        title: "SMV: Inventario",
        date: "Julio 13, 2024",
        description:
          "Proyecto de 4to cibertec. Incluye Backend con Java Srping Boot y Frontend con React. Proyecto de Inventario y baja de productos de almacen para la SMV.",
        download: "https://github.com/LGsus113/SMV.git",
        badge: "latest React - Spring Boot",
      },
    ],
  },
  {
    title: "En atención al cliente:",
    color: "yellow",
    items: atteClient.map(({ data }: any) => ({
      title: data.title,
      date: data.date,
      description: data.description,
      download: data.download || "",
      badge: data.badge,
    })),
  },
  {
    title: "Como técnico ensamblador:",
    color: "purple",
    items: technical.map(({ data }: any) => ({
      title: data.title,
      date: data.date,
      description: data.description,
      download: data.download || "",
      badge: data.badge,
    })),
  },
];
---

<SectionScheme id="experiencia" className="gap-10 mb-40">
  <Encabezado title="Experiencia Laboral">
    <ExperienceIcon class="size-7 xl:size-9" />
  </Encabezado>
  <div
    class="w-full grid grid-cols-1 grid-rows-auto lg:grid-cols-2 lg:grid-rows-2 gap-5"
  >
    {
      EXPERIENCES2.map(({ title, color, items }, index) => (
        <ExperienceType
          title={title}
          color={color}
          experiences={items}
          class={`p-4 ${index === 0 ? "row-span-2" : "row-span-1"}`}
        />
      ))
    }
  </div>
</SectionScheme>
