---
import Encabezado from "@/components/utils/Encabezado.astro";
import ExperienceType from "@/components/Main/Components/Experience/Experience-Type.astro";
import SectionScheme from "@/components/utils/Section-Scheme.astro";

import ExperienceIcon from "@/icons/experience.astro";

const EXPERIENCES = [
  {
    title: "Como desarrollador:",
    color: "green",
    items: [
      {
        title: "Tesla",
        date: "Actualmente...",
        description:
          "Clon de pagina antigua de Tesla con Astro, Tailwind y JS. Proyecto con fines educativos, para la practica y mejora del framework utilzado.",
        download: "https://github.com/LGsus113/Tesla-Page-Astro.git",
        badge: "latest Astro",
      },
      {
        title: "DAWI: Spring Boot",
        date: "Diciembre 22, 2024",
        description:
          "Proyecto de presentacion final para curso, 5to ciclo. Sistema de Ventas en spring boot con templates de prueba.",
        download: "https://github.com/LGsus113/ProyectoDawi.git",
        badge: "latest Java",
      },
      {
        title: "D-CoDX",
        date: "Diciembre 1, 2024",
        description:
          "Proyecto de presentacion final para curso, 5to ciclo. Continuación de pagina D-CoDX, en esta versión se usa ReactJS.",
        download: "https://github.com/LGsus113/D-CoDX-.-React-Vite.git",
        badge: "latest React",
      },
      {
        title: "D-CoDX",
        date: "Noviembre 28, 2024",
        description:
          "Proyecto de presentacion final para curso, 4to ciclo. Pagina creada como proyecto integrador para diseñadores y programadores.",
        download: "https://github.com/LGsus113/D-CoDX.git",
        badge: "latest HTML",
      },
      {
        title: "SMV: Proyecto Cibertec",
        date: "Julio 13, 2024",
        description:
          "Proyecto de 4to cibertec. Incluye Backend con Java Srping Boot y Frontend con React. Proyecto de Inventario y baja de productos de almacen para la SMV.",
        download: "https://github.com/LGsus113/SMV.git",
        badge: "latest Front/Back",
      },
    ],
  },
  {
    title: "En atención al cliente:",
    color: "yellow",
    items: [
      {
        title: "Restaurante Don Maco",
        date: "Junio, 2023 - Julio, 2024",
        description:
          "Servicio de atencion como mozo en resturant campestre Don Maco - Simbal, Trujillo.",
        download: "",
        badge: "Mozo",
      },
      {
        title: "BiciStart SAC",
        date: "Noviembre, 2019 - Febrero, 2021",
        description:
          "Vendedor en tienda de bicicletas y articulos de entretenimiento para niños.",
        download: "",
        badge: "Vendedor",
      },
      {
        title: "PC Lista",
        date: "Marzo, 2019 - Setiembre, 2019",
        description:
          "Servicio de vendedor de computadoras y articulos tecnologicos.",
        download: "",
        badge: "Vendedor",
      },
    ],
  },
  {
    title: "Como técnico ensamblador:",
    color: "purple",
    items: [
      {
        title: "BiciStart SAC",
        date: "Febrero, 2021 - Mayo, 2022",
        description:
          "Cambio de rol en tienda: vendedor a ensamblador de bicicletas. Verificación de calidad y servicio de mantenimiento de todo tipo de bicicletas: Gama Alta - Gama Baja.",
        download: "",
        badge: "Ensamblador",
      },
      {
        title: "Bicimotos El Lider",
        date: "Mayo, 2022 - Junio - 2023",
        description:
          "Servicio de ensamblado de Bicicletas para la venta masiva, bicicletas de uso cotidiano y mantenimientos de las mismas. Responsable del estado de salida de las bicicletas y consultor de mercaderia nueva para la tienda.",
        download: "",
        badge: "Tecnico",
      },
    ],
  },
];
---

<SectionScheme id="experiencia" className="gap-10 mb-40">
  <Encabezado title="Experiencia Laboral">
    <ExperienceIcon class="size-7 xl:size-9" />
  </Encabezado>
  <div
    class="w-full grid grid-cols-1 grid-rows-auto lg:grid-cols-2 lg:grid-rows-2 gap-5"
  >
    {
      EXPERIENCES.map(({ title, color, items }, index) => (
        <ExperienceType
          title={title}
          color={color}
          experiences={items}
          class={`p-4 ${index === 0 ? "row-span-2" : "row-span-1"}`}
        />
      ))
    }
  </div>
</SectionScheme>
