---
import {
  getDeveloperExperiencesGrouped,
  getOtherExperiences,
} from "@/type-script/experience-service";
import type { ExperienceProps, GroupedExperience } from "@/type-script/type";
import Encabezado from "@/utils/Encabezado.astro";
import ExperienceType from "@/components/Main/Components/Experience/Experience-Type.astro";
import SectionScheme from "@/utils/Section-Scheme.astro";
import ExperienceIcon from "@/icons/experience.astro";

const developer: GroupedExperience[] = await getDeveloperExperiencesGrouped();
const atteClient: ExperienceProps[] = await getOtherExperiences("AtteClient");
const technical: ExperienceProps[] = await getOtherExperiences("Technical");

const EXPERIENCES = [
  {
    title: "Como desarrollador:",
    color: "green",
    items: developer,
    grouped: true,
  },
  {
    title: "En atención al cliente:",
    color: "yellow",
    items: atteClient,
    grouped: false,
  },
  {
    title: "Como técnico ensamblador:",
    color: "purple",
    items: technical,
    grouped: false,
  },
];
---

<SectionScheme id="experiencia" className="my-16">
  <Encabezado title="Experiencia Laboral">
    <ExperienceIcon class="size-7 xl:size-10" />
  </Encabezado>
  <div class="w-full grid lg:grid-cols-2 auto-rows-auto">
    {
      EXPERIENCES.map(({ title, color, items, grouped }, index) => (
        <ExperienceType
          title={title}
          color={color}
          experiences={items}
          grouped={grouped}
          class={`p-4 ${index === 0 ? "col-span-2" : ""}`}
        />
      ))
    }
  </div>
</SectionScheme>
