---
import SectionScheme from "@/components/utils/Section-Scheme.astro";
import ExperienceType from "@/components/Main/Components/Experience/Experience-Type.astro";

import ExperienceIcon from "@/icons/experience.astro";

const EXPERIENCES = [
  {
    title: "Como desarrollador:",
    color: "green",
    items: [
      {
        title: "Clon Tesla Page",
        date: "Actualmente...",
        description:
          "Clon de pagina antigua de Tesla con Astro, Tailwind y Pnpm.",
        download: "https://github.com/LGsus113/Tesla-Page-Astro.git",
        badge: "latest Astro",
      },
      {
        title: "DAWI: Proyecto Spring Boot",
        date: "Diciembre 22, 2024",
        description:
          "Proyecto de presentacion final para curso en cibertec, 5to ciclo. Sistema de Ventas en spring boot con templates de prueba. Proyecto Java",
        download: "https://github.com/LGsus113/ProyectoDawi.git",
        badge: "latest Java",
      },
      {
        title: "D-CoDX: Proyecto Cibertec",
        date: "Diciembre 1, 2024",
        description:
          "Proyecto de presentacion final para curso en cibertec, 5to ciclo. Pagina creada como proyecto integrador para diseñadores y programadores. Versión con ReactJS.",
        download: "https://github.com/LGsus113/D-CoDX-.-React-Vite.git",
        badge: "latest React",
      },
      {
        title: "D-CoDX: Proyecto Cibertec",
        date: "Noviembre 28, 2024",
        description:
          "Proyecto de presentacion final para curso en cibertec, 4to ciclo. Pagina creada como proyecto integrador para diseñadores y programadores. Versión con HTML, CSS y JS.",
        download: "https://github.com/LGsus113/D-CoDX.git",
        badge: "latest HTML",
      },
      {
        title: "SMV: Proyecto Cibertec",
        date: "Julio 13, 2024",
        description:
          "Proyecto de 4to cibertec. Proyecto que incluye Backend con Java Srping Boot y Frontend con React nivel principiante.",
        download: "https://github.com/LGsus113/SMV.git",
        badge: "latest Front/Back",
      },
    ],
  },
  {
    title: "En atención al cliente:",
    color: "yellow",
    items: [
      {
        title: "Restaurante Don Maco",
        date: "Junio, 2023 - Julio, 2024",
        description:
          "Servicio de atencion con mozo en resturant campestre Don Maco - Simbal, Trujillo.",
        download: "",
        badge: "Mozo",
      },
      {
        title: "BiciStart SAC",
        date: "Noviembre, 2019 - Febrero, 2021",
        description:
          "Vendedor en tienda de bicicletas y articulos de entretenimiento para niños. Nivel de satisfacción del cliente en un 80% en temporadas y campañas navideñas.",
        download: "",
        badge: "Vendedor",
      },
      {
        title: "PC Lista",
        date: "Marzo, 2019 - Setiembre, 2019",
        description:
          "Servicio de vendedor de computadoras y articulos tecnologicos. Satisfacción de cliente en un 90% de atencion y servicio al cliente.",
        download: "",
        badge: "Vendedor",
      },
    ],
  },
  {
    title: "Como técnico ensamblador:",
    color: "purple",
    items: [
      {
        title: "BiciStart SAC",
        date: "Febrero, 2021 - Mayo, 2022",
        description:
          "Cambio de rol en tienda de vendedor a ensamblador de bicicletas. Verificación de calidad y servicio de mantenimiento de todo tipo de bicicletas: Gama Alta - Gama Baja",
        download: "",
        badge: "Ensamblador",
      },
      {
        title: "Bicimotos El Lider",
        date: "Mayo, 2022 - Junio - 2023",
        description:
          "Servicio de ensamblado de Bicicletas para la venta masiva, bicicletas de uso cotidiano y mantenimientos de las mismas. Responsable del estado de salida de las bicicletas y consultor de mercaderia nueva para la tienda.",
        download: "",
        badge: "Tecnico",
      },
    ],
  },
];
---

<SectionScheme id="experiencia" className="gap-10">
  <h2 class="text-4xl font-bold flex gap-3 items-end">
    <ExperienceIcon class="size-9" />
    Experiencia Laboral
  </h2>
  {
    EXPERIENCES.map(({ title, color, items }) => (
      <ExperienceType title={title} color={color} experiences={items} />
    ))
  }
</SectionScheme>
