---
import Badge from "@/utils/Badge.astro";
import Information from "@/components/Main/Components/Presentation/Information.astro";
import ListNav from "@/utils/List-Nav.astro";
import SectionScheme from "@/utils/Section-Scheme.astro";
import GitHub from "@/icons/github.astro";
import LinkedIn from "@/icons/linkedin.astro";
import Mail from "@/icons/mail.astro";
import CVIcon from "@/icons/cvIcon.astro";
import { basics } from "@cv";

const icons: Record<string, any> = {
  GitHub,
  LinkedIn,
  Mail,
  CVIcon,
};

const buttons = [
  ...basics.profiles.map((profile) => ({
    label: profile.network,
    href: profile.url,
    image: icons[profile.icon] || null,
    target: "_blank",
  })),
  {
    label: "Ver CV",
    href: "/CV",
    image: icons["CVIcon"],
  },
  {
    label: basics.email,
    href: basics.url,
    image: icons["Mail"],
    target: "_blank",
  },
];
---

<SectionScheme
  id="inicio"
  className="items-center justify-center text-center"
>
  <Information>
    <Badge>Disponible para trabajar</Badge>
  </Information>
  <nav class="w-auto h-auto mt-5">
    <ListNav items={buttons} variant="alt" />
  </nav>
</SectionScheme>
