---
import Badge from "@/utils/Badge.astro";
import ImageDev from "@/components/Main/Components/Presentation/Image-Dev.astro";
import Information from "@/components/Main/Components/Presentation/Information.astro";
import ListNav from "@/utils/List-Nav.astro";
import SectionScheme from "@/utils/Section-Scheme.astro";

import GitHub from "@/icons/github.astro";
import LGsus from "@public/download.webp";
import LinkedIn from "@/icons/linkedin.astro";
import Mail from "@/icons/mail.astro";
import CVIcon from "@/icons/cvIcon.astro";

const buttons = [
  {
    label: "LinkedIn",
    href: "https://www.linkedin.com/in/lgsus-tm-16b592338",
    image: LinkedIn,
    target: "_blank",
  },
  {
    label: "GitHub",
    href: "https://github.com/LGsus113",
    image: GitHub,
    target: "_blank",
  },
  {
    label: "Ver CV",
    href: "/CV",
    image: CVIcon,
  },
  {
    label: "lgsustm@gmail.com",
    href: "mailto:lgsustm@gmail.com?subject=Hola!!&body=Quisiera contactarme contigo para un proyecto :).",
    image: Mail,
    target: "_blank",
  },
];
---

<SectionScheme
  id="inicio"
  className="mx-auto pt-28 pb-16 xl:my-0 xl:mb-0 xl:py-40 items-start justify-center"
>
  <ImageDev image={LGsus.src} />
  <Information>
    <Badge>Disponible para trabajar</Badge>
  </Information>
  <nav class="w-auto h-auto mt-5">
    <ListNav items={buttons} variant="alt" />
  </nav>
</SectionScheme>
