---
import SectionScheme from "@/components/utils/Section-Scheme.astro";
import Code from "@/icons/code.astro";
---

<SectionScheme id="proyectos" className="mb-40">
  <h2 class="text-2xl xl:text-4xl font-bold flex gap-3 items-end">
    <Code class="size-7 xl:size-9" />
    Proyectos
  </h2>
</SectionScheme>
