---
import Encabezado from "@/utils/Encabezado.astro";
import SectionScheme from "@/utils/Section-Scheme.astro";
import Tecnologias from "@/icons/tecnologgies.astro";
import Carousel from "@/components/Main/Components/Tecnologgie/Carousel.astro";
import AstroIcon from "@/icons/astroIcon.astro";
import CssIcon from "@/icons/css.astro";
import HtmlIcon from "@/icons/HTMLIcon.astro";
import JavaIcon from "@/icons/java.astro";
import JSIcon from "@/icons/js.astro";
import MongoDBIcon from "@/icons/mongoDb.astro";
import MySQLIcon from "@/icons/MySQLIcon.astro";
import PostgreeIcon from "@/icons/postgreeIcon.astro";
import PostmanIcon from "@/icons/postman.astro";
import ReactIcon from "@/icons/react.astro";
import SpringBootIcon from "@/icons/springBoot.astro";
import TailwindIcon from "@/icons/tailwind.astro";
import ViteIcon from "@/icons/viteIcon.astro";
import VSCodeIcon from "@/icons/vscodeIcon.astro";
import IntelliIcon from "@/icons/intelli.astro";

const listIcons = [
  [
    AstroIcon,
    ReactIcon,
    TailwindIcon,
    JSIcon,
    CssIcon,
    HtmlIcon,
    ViteIcon,
    VSCodeIcon,
  ],
  [
    JavaIcon,
    MongoDBIcon,
    MySQLIcon,
    PostgreeIcon,
    PostmanIcon,
    SpringBootIcon,
    IntelliIcon,
  ],
];
---

<SectionScheme id="" className="gap-10 mb-5">
  <Encabezado title="Tecnologías">
    <Tecnologias class="size-7 xl:size-9" />
  </Encabezado>

  <div class="w-full flex flex-col gap-5">
    {listIcons.map((group, index) => <Carousel group={group} index={index} />)}
  </div>
</SectionScheme>
