@import "tailwindcss";
@import "@fontsource-variable/onest";
@import "@fontsource/press-start-2p";

@theme {
  --font-onest: "Onest", sans-serif;
  --font-press: "Press Start 2P", cursive;
}

@layer utilities {
  .sombra-3d {
    @apply filter drop-shadow-[2px_2px_2px_rgba(0,0,0,0.6)];
  }
  .button-carousel {
    @apply px-4 py-2 border border-white/60 bg-gray-400/30 rounded-xl text-white disabled:opacity-40 disabled:brightness-100 brightness-90 hover:brightness-105 active:scale-95 transition-all duration-150 shadow-inner shadow-black
  }
}

:root {
  color-scheme: light dark;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overscroll-behavior: none;
  font-family: var(--font-onest);
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

#logo-mask {
  background: white;
  mask-image: url("/LogoLGsus.webp");
  mask-position: center 47%;
  mask-repeat: no-repeat;
  mask-size: clamp(5000vh, 3500%, 0vh);
}
