@import "tailwindcss";
@import "@fontsource-variable/onest";
@import "@fontsource/press-start-2p";

@theme {
  --font-onest: "Onest", sans-serif;
  --font-press: "Press Start 2P", cursive;
}

@layer utilities {
}

:root {
  color-scheme: light dark;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overscroll-behavior: none;
  font-family: var(--font-onest);
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
