---
import type { Badge2Props } from "@/type/type";
const { bg, text } = Astro.props as Badge2Props;
---

<span
  class={`${bg} ${text} text-sm font-medium me-2 px-2.5 py-0.5 rounded-sm ms-3`}
>
  <slot />
</span>
