---
import type { TitleProps } from "@/type-script/type";
const { title } = Astro.props as TitleProps;
---

<h2 class="text-2xl xl:text-3xl font-press flex gap-3 items-end text-white time-line-scroll-animation">
  <slot />
  {title}
</h2>
