---
import type { TitleProps } from "@/type-script/type";
const { title } = Astro.props as TitleProps;
---

<h2 class="text-2xl xl:text-4xl font-bold flex gap-3 items-end text-white">
  <slot />
  {title}
</h2>
