---
import type { SectionSchemeProps } from "@/type-script/type";
const { id, className } = Astro.props as SectionSchemeProps;
---

<section
  id={id}
  class:list={["w-full h-auto px-5 xl:px-0 flex flex-col", className]}
>
  <slot />
</section>
