---
import type { TextUseProps } from "@/type/type";

const { description, className, cv } = Astro.props as TextUseProps;

const highlightText = (text: string) => {
  return text.replace(
    /'([^']+)'/g,
    `<span class='${cv ? "text-black" : "text-yellow-200/[.7]"} font-bold'>$1</span>`
  );
};
---

<p class={className} set:html={highlightText(description)} />
