---
import Hovered from "@/utils/Hovered.astro";
import ListNav from "@/utils/List-Nav.astro";

interface ListProps {
  label: string;
  href: string;
  image: any;
  target?: string;
}

const { items } = Astro.props as {
  items: ListProps[];
};
---

<div
  id="navbar-hamburger"
  class="hidden absolute z-10 w-[250px] bg-black/[0.6] text-white shadow-lg border border-white rounded-bl-md p-1 pb-[6px]"
>
  <div class="relative z-50">
    <ListNav items={items} variant="default" />
  </div>
  <Hovered items="#navbar-hamburger div li" container="#navbar-hamburger" />
</div>
