---
import MenuHamburguer from "@icons/menuHamburguer.astro";
---

<ul class="relative flex items-center text-base">
  <li data-list-linkers>
    <button
      id="menu-button"
      type="button"
      class="inline-flex items-center justify-center p-2 w-10 h-10 text-sm text-white rounded-lg"
      aria-controls="navbar-hamburger"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <MenuHamburguer class="size-5" />
    </button>
  </li>
</ul>

<script>
  import { menuInit } from "@/type-script/open-menu";
  menuInit();
</script>
