---
import FooterLogo from "@/components/Footer/components/Logo-Footer.astro";
import ListNav from "@/components/utils/List-Nav.astro";

const buttons = [
  {
    label: "Experiencia",
    href: "#experiencia",
    image: "",
    target: "_self",
  },
  {
    label: "Proyectos",
    href: "#proyectos",
    image: "",
    target: "_self",
  },
  {
    label: "Contacto",
    href: "#contactame",
    image: "",
    target: "_self",
  },
];
---

<div class="w-full p-4">
  <div class="flex items-center justify-between relative">
    <FooterLogo />
    <nav>
      <ListNav items={buttons} variant="third" />
    </nav>
  </div>
  <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
  <span class="block text-sm text-gray-500 text-center dark:text-gray-400">
    © 2023
    <a href="#top" class="hover:underline">LGsus™</a>
    . All Rights Reserved.
  </span>
</div>
