---
import PieFooter from "@/utils/Pie-Footer.astro";
---

<div
  class="w-11/12 h-auto 2xl:w-[1420px] bg-white rounded-lg shadow-sm dark:bg-gray-900 m-4 p-4"
>
  <h1 class="text-center">
    Espero poder trabajar contigo. Gracias por tu visita.
  </h1>
  <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
  <PieFooter />
</div>
