---
export interface ListProps {
  label: string;
  href: string;
  image: any;
  target?: string;
}

const { items, variant } = Astro.props as {
  items: ListProps[];
  variant?: "default" | "alt" | "third";
};
---

<ul class="flex flex-col xl:flex-row text-base font-semibold">
  {
    items.map((item) => {
      const ImageComponent = item.image;
      const buttonClass =
        variant === "alt"
          ? "border-2 border-white rounded-full mb-4 xl:mr-4 text-white backdrop-blur-sm hover:text-yellow-100 hover:border-yellow-100 hover:[&>a]:scale-95 active:scale-110 transition-all duration-300"
          : variant === "default"
            ? "text-white"
            : "text-gray-800 dark:text-white hover:underline";

      return (
        <li class={`flex ${buttonClass}`}>
          <a
            href={item.href}
            class="w-full flex items-center gap-2 px-4 py-2 transition-all duration-300"
            target={item.target ? `${item.target}` : "_self"}
          >
            {ImageComponent && (
              <ImageComponent class="size-4 xl:size-6 text-current" />
            )}
            {item.label}
          </a>
        </li>
      );
    })
  }
</ul>
