---
interface Props {
  description: string;
  className: string;
}

const { description, className } = Astro.props;

const highlightText = (text: string) => {
  return text.replace(
    /'([^']+)'/g,
    "<span class='text-yellow-200/[.7] font-bold'>$1</span>"
  );
};
---

<p class={className} set:html={highlightText(description)} />
